<!DOCTYPE html>
<html>
	<head>
		<title>Umeng</title>
		<%= stylesheet_link_tag    "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="topbar">
			<div class="fill">
				<div class="container">
					<a class="brand" href="/">Umeng</a>
					<%= render "layouts/nav" %>
					<%= render "layouts/user" %>
				</div>
			</div>
		</div>
		<div class="container">
			<p><%= notice %></p>
			<p><%= alert %></p>
			<%= yield %>
		</div>
		
		<footer>
			<p style="text-align: center;">
				&copy; Umeng <%= Time.now.year %>
			</p>
		</footer>
	</body>
</html>
